* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index:  var(--z-fixed);
      background-color: var(--body-color)
  }
  
  .nav{
      height: calc(var(--header-height) + 1.5rem);
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
  }
  .nav__logo,
  .nav__toggle{
      color: var(--title-color);
      font-weight: var(--font-medium);
  }
  
  .nav__list{
      display: flex;
      column-gap: 2rem;
  }
  
  .nav__link{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: var(--small-font-size);
      color: var(--title-color);
      font-weight: var(--font-medium);
      transition: .3s;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle{
      display: none;
  }
  
  .active-link,
  .nav__link:hover{
      color: var(--title-color-dark);
  }
  
  .nav_container{
      font-family: poppins;
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 60px;
      position: relative;
     box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
     padding-left: 150px;
  }
  
  .nav__menu{
      margin-left: auto;
      margin-right: 150px;
  }
  .nav__link {
      color: black;
      font-size: var(--small-font-size);
      transition: all 0.4s;
      position: relative;
    }
  
  .nav__link::after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: black;
      position: absolute;
      left: 0;
      bottom: -8px;
      transition: all 0.2s;
      opacity: 0;
      pointer-events: none;
    }
    
    .nav__link:hover::after {
      opacity: 1;
    }
  
  
  @media (max-width: 720px) {
      .nav_container{
        flex-direction: column;
        align-items: center;
        padding: 25px;
        padding-left: 10%;
        row-gap: 18px;
        font-size: 15px;
      }
    
      .nav__menu {
        column-gap: 35px;
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
      }
  
    }